@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto Mono', monospace;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #A89984;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #EBDBB2;
}

::-webkit-scrollbar-thumb:active {
  background: #fe8019;
}

@media only screen and (max-width: 790px) {
  #banner {
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  #banner {
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 500px) {
  #banner {
    font-size: 0.45rem;
  }

  #ps1-hostname {
    width: 9ch;
    overflow: hidden;
    display: inline-flex;
  }
}

@media only screen and (max-width: 400px) {
  #banner {
    font-size: 0.35rem;
  }

  #ps1-hostname {
    width: 9ch;
    overflow: hidden;
    display: inline-flex;
  }
}

@media only screen and (max-width: 320px) {
  #banner {
    font-size: 0.25rem;
  }

  #ps1-hostname {
    width: 9ch;
    overflow: hidden;
    display: inline-flex;
  }
}

@media only screen and (max-width: 250px) {
  #banner {
    font-size: 0.15rem;
  }

  #ps1-hostname {
    width: 9ch;
    overflow: hidden;
    display: inline-flex;
  }
}
